@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");

:root {
  --green: #00ff80;
  --orange: #ff8000;
  --gray: #555555;
  --washed-pink: #c86b85;
  --pink: #ff0080;
  --red: #ff0000;

  --fg: #f0f0f0;
  --bg: #090909;

  --text-margin: 1.25em;
}

body {
  height: 100%;
  margin: 0;
  padding: 0.5em;

  font-size: 18px;
  font-family: "Sono";
  color: var(--fg);
}

a {
  color: #0080ff;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

p,
ul {
  margin: 0;
  margin-bottom: var(--text-margin);
  padding: 0;
}

ul {
  margin-left: 4ch;

  &.compact {
    li {
      margin-bottom: 0.1em;
    }
  }

  li {
    margin-bottom: 0.5em;

    + p {
      margin-top: var(--text-margin);
    }
  }
}

select,
button,
textarea {
  margin: 0;
  padding: 0.25em 0.5em;

  font-size: 1em;
  font-family: "Sono";

  color: var(--fg);
  background: var(--bg);
  border: 1px solid var(--gray);
}

select,
button {
  &:not([disabled]) {
    &:hover {
      border: 1px solid var(--green) !important;
    }

    &:active {
      outline: 1px solid var(--green);
    }
  }

  &:disabled {
    color: var(--gray);

    &:hover {
      cursor: default;
      border: 1px solid var(--gray);
    }

    &:active {
      cursor: default;
      outline: none;
    }
  }
}

button {
  cursor: pointer;

  &.highlighted {
    animation: button-highlighted 1s ease-in-out 0s infinite;
  }
}

@keyframes button-highlighted {
  from {
    border-color: var(--gray);
  }
  50% {
    border-color: var(--green);
  }
  100% {
    border-color: var(--gray);
  }
}

input {
  &[type="checkbox"] {
    padding: 0;
    margin: 0;
  }
}

label {
  color: var(--fg);
}

textarea {
  resize: none;
  scrollbar-color: var(--gray) var(--bg);

  &:read-only {
    cursor: default;

    &:focus {
      outline: none;
    }
  }
}

pre {
  margin: var(--text-margin) 0;
}

pre,
kbd {
  font-size: 18px;
  font-family: "Sono";

  color: var(--washed-pink);
}

table {
  border-collapse: collapse;

  thead {
    th {
      font-weight: normal;
    }
  }
}

dialog {
  top: 10vh;
  max-height: 80vh;
  padding: 0;
  overflow: auto;

  color: var(--fg);
  background: #050505;
  border: 1px solid var(--green);

  nav,
  main,
  footer {
    margin: 0.75em;
  }

  nav {
    display: flex;
    margin-bottom: var(--text-margin);
    padding-bottom: 0.75em;
    border-bottom: 1px solid var(--gray);

    .dialog-title {
      flex-grow: 1;
      align-self: center;
      text-align: center;
    }

    .dialog-buttons {
      margin-left: 1ch;
    }
  }

  footer {
    padding-top: 0.75em;
    border-top: 1px solid var(--gray);
  }
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.status-alive {
  color: var(--green);
}

.status-dead {
  color: var(--red);
}

.status-queued {
  color: var(--pink);
}

.text-rainbow {
  animation: text-rainbow 0.5s linear 0s infinite;
}

@keyframes text-rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
